.favourites-button {
    display: flex;
    align-items: center;

    color: #0071CE;
    text-decoration: none;
}

.favourites-button.disabled {
    pointer-events: none;
    color: #a8a8a8;
}

.favourites-button:hover {
    color: #2f86ce;
}

.favourites-button:active {
    color: #0071CE;
}

.favourites-button-content {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.favourites-button-count-text {
    margin-left: -4px;
    margin-bottom: -20px;

    font-size: 12px;
    font-weight: 500;

    white-space: nowrap;
}