.login-container {
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, var(--colorsPrimary), var(--colorsPrimaryAccent));
  
  font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
  padding: var(--spacing500) 0;
}

.login-frame {
  width: 100%;
  max-width: 400px;
  padding: 30px 20px;
  background-color: white;
  border-radius: var(--radius-sm);
  border: none;

  animation: fadeIn 0.4s ease;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 20px;
}

.login-title {
  font-size: var(--fontSizeHeadlineLarge);
  font-weight: var(--fontWeightHeavy);
  text-align: center;
}

.login-subtitle {
  font-size: var(--fontSizeBodySmall);
  color: var(--colorsMuted);
  text-align: center;
  margin-bottom: 25px;
}

.login-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fade animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
