.loading-spinner.inline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.loading-spinner.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.5);
  z-index: 10;
}