.add-favourites-button-icon.is-not-favourite {
    color: var(--colorsMuted);
}

.add-favourites-button-icon {
    color: var(--colorsPrimary);

    border: none;
    background: none;

    position: relative;
    cursor: pointer;
}

.add-favourites-button-icon:hover {
    color: var(--colorsPrimaryDark);
}

.add-favourites-button-icon:active {
    color: var(--colorsPrimary);
}