.icb {
    display: flex;
    align-items: center;

    color: var(--colorsPrimary);
    text-decoration: none;
}

.icb.disabled {
    pointer-events: none;
    color: var(--colorsMuted);
}

.icb:hover {
    color: var(--colorsPrimaryDark);
}

.icb:active {
    color: var(--colorsPrimary);
}

.icb-content {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.icb-count-text {
    margin-left: -4px;
    margin-bottom: -20px;

    font-size: var(--fontSizeBodyExtraSmall);
    font-weight: var(--fontWeightMedium);

    white-space: nowrap;
}