.details-side-panel {
    position: sticky;
    top: 100px;
    align-self: flex-start;
}

.details-side-panel-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 18px;
}

.details-side-panel-content-seller-type {
    display: flex;
    gap: 4px;

    align-items: center;
    font-weight: var(--fontWeightLight);
    font-size: 16px;
}

.details-side-panel-created-id {
    display: flex;
    justify-content: space-between;

    font-size: small;
    font-weight: lighter;
}

.details-side-panel-username {
    font-weight: var(--fontWeightMedium);
    margin-left: 8px;
}

.details-side-panel-location-title {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 16px;
    font-weight: var(--fontWeightLight);
}

.details-side-panel-location-data {
    font-weight: var(--fontWeightMedium);
    margin-left: 8px;
}

.details-side-panel-favourite-button {
    display: flex;
    align-items: end;
    justify-content: end;
}