.pu-wrapper {
  display: flex;
  flex-direction: column;
}

.pu-dropzone {
  border: 2px dashed #999;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background 0.2s ease;
  user-select: none;

  text-align: center;
  background: var(--colorsSurface);
  color: var(--colorsMuted);

  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pu-dropzone:hover {
  border-color: var(--colorsPrimary);
  background: var(--colorsActionLight);
}

.pu-dropzone:active {
  border-color: var(--colorsPrimaryDark);
  background: var(--colorsActionLight);
}

.pu-dropzone-dragging {
  border-color: var(--colorsPrimary);
  background: var(--colorsActionLight);
}

.pu-preview-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.pu-preview-item {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 90px;
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.pu-preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.pu-buttons {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  z-index: 5;
}

.pu-buttons button {
  padding: 0;
  border: none;
  border-radius: var(--radius-md);
  background: rgba(92, 92, 92, 0.733);
  color: var(--colorsErrorLight);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pu-remove-button:hover {
  background: rgba(92, 92, 92, 0.733);
  color: var(--colorsErrorMedium);
}

.pu-remove-button-icon:hover {
  scale: 1.1;
}

.pu-remove-button:active {
  background: rgba(119, 119, 119, 0.911);
  color: var(--colorsErrorLight);
}

.pu-error {
  color: var(--colorsErrorMedium);
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.pu-label {
  font-weight: var(--fontWeightMedium);
  margin-bottom: 0.4rem;
  color: #333;
}
