.main-details-wrapper {
    width: min(100% - 32px, 1240px);
    margin: 0 auto;

    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
}

.main-details {
    width: 100%;

    margin: 16px auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: min-content;
    grid-gap: 0px;
    grid-template-areas:
        "header"
        "content";
}

@media screen and (min-width: 1024px) {
    .main-details {
        width: 100%;

        margin: 16px auto;
        padding: 0 16px;
        display: grid;
        grid-template-columns: minmax(0, auto) 360px;
        grid-template-rows: min-content auto;
        grid-gap: 16px;
        grid-template-areas:
            "header header"
            "content sidePanel";
    }
}

.main-details-side-panel {
    grid-area: sidePanel;
}

.main-details-back {
    grid-area: header;

    display: flex;
    align-items: center;
    text-decoration: none;

    color: black;
    gap: 4px;
}

.main-details-back:hover {
    text-decoration: underline;
    color: var(--colorsPrimary);
}