.osc {
    align-items: flex-end;
    display: flex;

    font-size: 16px;
    font-family: var(--fontFamilyPrimary);
    font-weight: var(--font-weight-medium);

    z-index: 3;
}

.osc .filters-input-frame>* {
    padding: 0px;
}

.osc .filters-input-frame {
    height: 36px;
    width: 180px;
}

.osc-select {
    width: 100%;
    height: 100%;
}