.paramWithIconWrapper {
  grid-template-areas:
    "icon texts";
  grid-template-columns: auto auto;

  display: grid;
  align-items: center;
  gap: 8px;
}

.paramIcon {
  grid-area: icon;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: var(--colorsPrimary);
}

.paramTexts {
  grid-area: texts;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paramWithIconLabel {
  font-size: var(--fontSizeBodyExtraSmall);
  color: #666;
  font-weight: var(--font-weight-bold);
  font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
}

.paramWithIconValue {
  font-size: var(--fontSizeBodySmall);
  font-weight: var(--font-weight-regular);
  font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
}