.photo-viewer {
    background-color: rgb(236, 236, 236);
    border-radius: var(--radius-md);
    
    font-weight: var(--fontWeightRegular);
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
}

.image-gallery {
    border-radius: var(--radius-md);
    overflow: hidden;
}

.image-gallery-thumbnail {
    border-radius: var(--radius-md);
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner {
    border-radius: var(--radius-sm);
    overflow: hidden;
}

.image-gallery .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    outline: none;
    border: 4px solid var(--colorsPrimary);
}

@media (hover: hover) and (pointer: fine) {
    .image-gallery .image-gallery-icon:hover {
        color: var(--colorsPrimary);
    }

    .image-gallery .image-gallery-bullets .image-gallery-bullet:hover {
        border: 0px;
        background: var(--colorsPrimary);
    }
}

.image-gallery .image-gallery-bullets .image-gallery-bullet.active {
    border: 0px;
    background: var(--colorsPrimary);
}

.image-gallery .image-gallery-bullets .image-gallery-bullet {
    border: 0px;
    background: rgb(236, 236, 236);
}

.image-gallery .image-gallery-index {
    background: rgba(0, 0, 0, 0.247);
    border-radius: var(--radius-sm);
    margin: 8px;
    padding: 7.5px 15px;
}

.image-gallery .image-gallery-left-nav .image-gallery-svg, .image-gallery .image-gallery-right-nav .image-gallery-svg {
    height: 60px;
    width: 30px;
}