.addFavouriteButton .n-button-svg-wrapper-pre:not(:only-child) {
    margin-left: calc(-1 * var(--iconVisualAlignmentSize));
}

.addFavouriteButton[data-button-variant='flat'] {
    --backgroundColor: transparent;
    --textColor: var(--colorsForegroundActionPrimary, #0071CE);
    --iconColor: var(--colorsForegroundActionPrimary, #0071CE);
    --borderWidth: var(--widthNone, 0px);
    --buttonHeight: var(--spacing500, 40px);
    --paddingX: var(--spacing100, 8px);
    --paddingY: var(--spacing100, 8px);
    --iconVisualAlignmentSize: var(--spacing0, 0);
}

.addFavouriteButton svg {
    color: var(--iconColor);
    display: block;
    height: var(--iconSize);
    width: var(--iconSize);
}

.addFavouriteButton[data-button-variant='flat']::after {
    mix-blend-mode: lighten;
}

.addFavouriteButton::after {
    border-radius: inherit;
    bottom: calc(-1 * var(--borderWidth));
    box-sizing: border-box;
    content: '';
    left: calc(-1 * var(--borderWidth));
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: calc(-1 * var(--borderWidth));
    top: calc(-1 * var(--borderWidth));
    -webkit-transition: background 0s linear 200ms, opacity 200ms ease-out;
    transition: background 0s linear 200ms, opacity 200ms ease-out;
}

.addFavouriteButton:hover{
    background-color: #42424215;
}

.addFavouriteButton .n-button-text-wrapper:empty {
    display: none;
}

.addFavouriteButton *+.n-button-svg-wrapper, .addFavouriteButton *+.n-button-text-wrapper {
    margin-left: var(--spacing100, 8px);
}

.addFavouriteButton .n-button-text-wrapper {
    white-space: nowrap;
}

.addFavouriteButton{
    --backgroundColor: var(--colorsBackgroundActionPrimary, #0071CE);
    --borderColor: transparent;
    --textColor: var(--colorsForegroundOnInverse, #FFFFFF);
    --iconColor: var(--colorsForegroundOnInverse, #FFFFFF);
    --fontSize: var(--bodyBaseFontSize, 16px);
    --lineHeight: var(--lineHeightWide, 20px);
    --buttonHeight: var(--spacing500, 48px);
    --paddingX: var(--spacing300, 32px);
    --paddingY: var(--spacing150, 12px);
    --iconSize: var(--spacing300, 24px);
    --borderWidth: var(--widthNone, 0px);
    --hoverColor: var(--colorsOpacitySecondaryMedium, rgba(255, 255, 255, 0.64));
    --activeColor: var(--colorsOpacityPrimaryMedium, rgba(2, 3, 9, 0.24));
    --iconVisualAlignmentSize: var(--spacing100, 8px);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--backgroundColor);
    border-color: var(--borderColor);
    border-radius: var(--radiusMedium, 4px);
    border-style: solid;
    border-width: var(--borderWidth);
    box-sizing: border-box;
    color: var(--textColor);
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    font-size: var(--fontSize);
    font-weight: var(--fontWeightBold, 700);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    letter-spacing: var(--letterSpacingNarrow, 0);
    line-height: var(--lineHeight);
    min-height: var(--buttonHeight);
    padding: calc(var(--paddingY) - var(--borderWidth)) calc(var(--paddingX) - var(--borderWidth));
    position: relative;
    text-align: left;
    --buttonHeight: 20px !important;
    width: 22px;
    height: 20px;
    padding: 0;
}

.addFavouriteIcon{
    height: 24px;
    width: 24px;
    color: #020309;
}