.car-filters {
    --range-gap: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* @media screen and (min-width: 1024px) {
    .car-filters {
        display: block;
    }
}
.car-filters {
    grid-area: filters;
    display: none;
} */