.filters-input {
    position: relative;
    width: 100%;
}

.filters-input-clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    padding: 0;
    position: absolute;
    right: 6px;

    width: 34px;
    height: 34px;

    pointer-events: none;
}

.filters-input-input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: none;
    appearance: none;
    -webkit-appearance: none;

    font-family: var(--fontFamilyPrimary);
    font-size: 14px;
    font-weight: var(--fontWeightMedium);
    flex: 1;

    width: 100%;
    height: 100%;

    min-width: 0px;

    box-sizing: border-box;
}

.filters-input-input:hover,
.filters-input-input:focus,
.filters-input-input:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Chrome, Edge, Safari */
.filters-input-input::-webkit-outer-spin-button,
.filters-input-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.filters-input-input[type=number] {
    -moz-appearance: textfield;
}