.details-content-wrapper {
    grid-area: content;
}

.details-content {
    justify-items: center;
    display: flex;
    flex-direction: column;

    grid-area: content;
}

.details-content-title-price-wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 14px;
}

.details-content-title {
    font-size: 20px;
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    font-weight: var(--font-weight-bold);
}

.details-content-subtitle {
    font-size: 14px;
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    font-weight: var(--font-weight-regular);
    color: #666;
}

.details-content-description {
    white-space: pre-line;
}