.details-content-wrapper {
    grid-area: content;
}

.details-content {
    justify-items: center;
    display: flex;
    flex-direction: column;

    grid-area: content;
}

.details-content-title-price-wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 14px;
}

.details-content-title {
    font-size: 20px;
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    font-weight: var(--font-weight-bold);
}

.details-content-subtitle {
    font-size: 14px;
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    font-weight: var(--font-weight-regular);
    color: #666;
}

.details-content-description {
    white-space: pre-line;
}

@media (max-width: 455px) {
    .details-content-key-spec-item svg {
        width: 20px;
        height: 20px;
    }

    .paramsWithIcons.evenly .paramWithIconWrapper {
        grid-template-columns: 25px 80px !important;
    }

    .paramWithIconLabel {
        font-size: var(--fontSizeBodyMicro);
    }

    .paramsWithIcons.evenly .paramWithIconValue {
        font-size: var(--fontSizeBodyExtraSmall);
    }
}

@media (max-width: 485px) {
    .details-content-features-item svg {
        width: 14px;
        height: 14px;
    }

    .details-content-features-item .feature {
        width: 120px;
        gap: 2px;
    }

    .details-content-features-item .feature .feature-label {
        font-size: var(--fontSizeBodyMicro);
    }
}