.specs-list-item {
    display: flex;
    justify-content: space-between;

    background-color:  rgb(236, 236, 236);
    border-radius: var(--radius-sm);

    padding: 4px 12px;
}

.specs-list-item-label {
    font-size: var(--fontSizeBodyBase);
    font-weight: var(--fontWeightMedium);
}

.specs-list-item-value {
    font-size: var(--fontSizeBodySmall);
}