.feature {
    border-radius: 3px;
    background-color: rgb(236, 236, 236);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 10px;
    width: 190px;
}

.feature-label {
    font-size: 12px;
    color: #000000;
    font-weight: var(--font-weight-bold);
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feature-tick {
    color: #007bff;
}