.mainHeader{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;
    height: 60px;
    background-color: var(--colorsSurface);

    z-index: 1020;
    box-shadow: rgb(20 35 85 / 15%) 0px 2px 6px 0;

    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
}

.mainHeader-title{
    color: var(--colorsPrimary);
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    font-size: 30px;
    font-weight: 700;

    font-variant: small-caps;
    letter-spacing: 1px;
    text-decoration: none;
} 

.mainHeader-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    column-gap: 8px;
}

.mainHeader-loginButton,
.mainHeader-addOfferButton {
    font-size: 16px;
    font-weight: 700;

    text-decoration: none;
}

.mainHeader-loggedInUserText {
    font-size: 14px;
    font-weight: 600;
    text-align: center;

    color: var(--colorsPrimary);

    display: flex;
    align-items: center;
    margin-right: 8px;

    user-select: none;
}