.mainHeader {
    display: flex;
    position: fixed; 
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;
    height: var(--header-height);
    min-height: var(--header-height);
    background-color: var(--colorsSurface);
    gap: 16px;

    z-index: 1020;
    box-shadow: rgb(20 35 85 / 15%) 0px 2px 6px 0;

    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
}

@media (max-width: 745px) {
  :root {
    --header-height: 130px;
  }
}

@media (max-width: 745px) {
  .mainHeader {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 455px) {
  .mainHeader {
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
  }
}

.mainHeader-title {
    color: var(--colorsPrimary);
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    font-size: var(--fontSizeDisplay);
    font-weight: var(--fontWeightHeavy);

    font-variant: small-caps;
    letter-spacing: 1px;
    text-decoration: none;
    text-overflow: clip;
    text-wrap-mode: nowrap;
}

.mainHeader-subtitle {
    color: var(--colorsMuted);
    font-size: var(--fontSizeBodyMicro);
    font-weight: var(--fontWeightRegular);
}

.mainHeader-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    column-gap: 8px;
}

.mainHeader-loginButton,
.mainHeader-addOfferButton {
    font-size: var(--fontSizeBodyBase);
    font-weight: var(--fontWeightHeavy);

    text-decoration: none;
}

.mainHeader-loggedInUserText {
    font-size: var(--fontSizeBodySmall);
    font-weight: var(--fontWeightSemibold);
    text-align: center;

    color: var(--colorsPrimary);

    display: flex;
    align-items: center;
    margin-right: 8px;

    user-select: none;
}

@media (max-width: 455px) {
    .mainHeader-right {
        column-gap: 2px;
    }

    .mainHeader-right .icb-count-text {
        font-size: var(--fontSizeBodyMicro);

    }

    .mainHeader-right .mainHeader-loggedInUserText {
        font-size: var(--fontSizeBodyExtraSmall);
    }

    .mainHeader-right .mainHeader-loginButton,
    .mainHeader-addOfferButton {
        font-size: var(--fontSizeBodySmall);
        padding: 5px 8px;
    }

    .mainHeader-right svg {
        width: 20px;
        height: 20px;
    }
}