.mainHeader{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;
    height: 60px;
    background-color: #f5f5f5;

    z-index: 1020;
    box-shadow: rgb(20 35 85 / 15%) 0px 2px 6px 0;
}

.mainHeader-title{
    color: #0071CE;
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    font-size: 30px;
    font-weight: 700;

    font-variant: small-caps;
    letter-spacing: 1px;
    text-decoration: none;
} 

.mainHeader-addOfferButton{
    background-color: #0071CE;
    padding: 8px 12px;
    border-radius: 4px;
    border-color: transparent;

    color: #FFFFFF;
    font-family: var(--fontFamilyPrimary, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    height: 100%;
}

.mainHeader-addOfferButton:hover {
  background: #2f86ce;
}

.mainHeader-addOfferButton:active {
  background: #0071CE;
}